**备注：**
- 如果经纬度取小数点后两位，那么总共有 **3235** 个区域

In [1]:
import gc
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
pd.set_option('display.max_columns', 1000)

In [3]:
order_9 = pd.read_csv("../data/order_info_201909_WHsec.csv")  # 171657
order_9 = order_9.iloc[:, 1:]
order_10 = pd.read_csv("../data/order_info_201910_WHsec.csv")  # 207130
order_10 = order_10.iloc[:, 1:]
order_11 = pd.read_csv("../data/order_info_201911_WHsec.csv")  # 295485
order_11 = order_11.iloc[:, 1:]

In [4]:
order = pd.concat([order_9, order_10, order_11], axis=0)  # 674272

del order_9, order_10, order_11
gc.collect()

11

In [5]:
order.rename(
    columns={
        'renter_id': 'passenger_id', 
        'id_': 'order_id', 
        'receive_lng': 'receive_longitude', 
        'receive_lat': 'receive_latitude', 
        'driver_arrive_appoint_lng': 'driver_arrive_appoint_longitude', 
        'driver_arrive_appoint_lat': 'driver_arrive_appoint_latitude',
        'go_on_lng': 'get_on_longitude', 
        'go_on_lat': 'get_on_latitude', 
        'close_lng': 'close_longitude', 
        'close_lat': 'close_latitude', 
    }, 
    inplace=True
)

In [74]:
order['longitude'] = np.round(order.get_on_longitude, decimals=3)
order['latitude'] = np.round(order.get_on_latitude, decimals=3)

In [75]:
order_counts = order.groupby(['longitude', 'latitude'])[['order_id']].count()
order_counts = order_counts.reset_index().rename(columns={'order_id': 'demand'})

In [81]:
order_counts

       longitude  latitude  demand
0        113.715    30.398       1
1        113.717    30.402       1
2        113.718    30.402       1
3        113.718    30.403       2
4        113.721    30.411       1
5        113.726    30.387       1
6        113.730    30.420       1
7        113.744    30.423       1
8        113.747    30.423       1
9        113.757    30.423       1
10       113.764    30.423       1
11       113.764    30.428       1
12       113.767    30.326       1
13       113.768    30.329       2
14       113.769    30.330       1
15       113.770    30.323       1
16       113.770    30.331       1
17       113.770    30.421       1
18       113.772    30.334       1
19       113.772    30.426       1
20       113.773    30.335       1
21       113.775    30.308       1
22       113.775    30.318       2
23       113.775    30.338       1
24       113.776    30.298       4
25       113.776    30.310       2
26       113.776    30.311       1
27       113.776    30.339       1
28       113.777    30.311       5
29       113.777    30.312       1
...          ...       ...     ...
48977    114.931    30.874       1
48978    114.932    30.838       1
48979    114.932    30.878       1
48980    114.934    30.815       1
48981    114.934    30.882       1
48982    114.935    30.884       1
48983    114.935    30.886       1
48984    114.936    30.821       1
48985    114.936    30.886       1
48986    114.936    30.887       2
48987    114.936    30.888       5
48988    114.937    30.888       1
48989    114.937    30.889       1
48990    114.937    30.890       2
48991    114.941    30.841       1
48992    114.946    30.876       1
48993    114.948    30.892       2
48994    114.952    30.890       1
48995    114.953    30.898       1
48996    114.954    30.894       1
48997    114.958    30.940       1
48998    114.963    30.853       1
48999    114.974    30.878       1
49000    114.977    30.877       1
49001    114.978    30.944       1
49002    114.978    30.945       1
49003    114.980    30.877       1
49004    114.981    30.874       1
49005    114.984    30.936       1
49006    114.985    30.877       1

[49007 rows x 3 columns]

## 2 画热力图

In [76]:
import folium
import webbrowser
from folium.plugins import HeatMap

In [77]:
latitudes = list(order_counts.latitude)
longitudes = list(order_counts.longitude)
weights = list(order_counts.demand)
llws = [[latitudes[i], longitudes[i], weights[i]] for i in range(len(longitudes))]

In [78]:
map_osm = folium.Map(location=[35, 110], zoom_start=5)
HeatMap(llws).add_to(map_osm)

In [79]:
html_filepath = "../result/location-demand.html"
map_osm.save(html_filepath)

In [80]:
webbrowser.open(html_filepath)

True